#formid {
  width: 450px;
  margin: 10px 400px;
}

#header {
  background-color: darkgreen;
  padding: 1px;
  text-align: center;
  font-size: 18px;
}

#section {
  background-color: lightgreen;
  padding: 2px;
}

#section_left {
  display: inline-block;
  padding-left: 10px;
  width: 165px;
}

#section_right {
  display: inline-block;
  width: 265px;
  float: right;
}

#first_input {
  margin-top: 12px;
}

.fillit {
  margin-bottom: 17px;
}

#select {
  width: 172px;
}

#text {
  height: 120px;
  width: 350px;
  display: block;
}

#recieve {
  display: inline;
}

#font_s {
  font-size: 18px;
}

#footer {
  text-align: center;
  padding: 5px;
}

#submit_button {
  background-color: darkgreen;
}
